<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span>Change Password</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="changePassForm">
    <div fxFlex fxLayout="column">
      <mat-form-field fxFlex appearance="standard">
        <mat-label>Old Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="oldPassword"
          required
          [type]="hideOldPassword ? 'password' : 'text'"
        />
        <button
          type="button"
          matSuffix
          mat-icon-button
          (click)="hideOldPassword = !hideOldPassword"
          [attr.aria-label]="'Hide oldPassword'"
          [attr.aria-pressed]="hideOldPassword"
        >
          <mat-icon>{{
            hideOldPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            changePassForm.controls.oldPassword.touched &&
            changePassForm.controls.oldPassword.invalid
          "
        >
          <span *ngIf="changePassForm.controls.oldPassword.errors.required"
            >This field is required!</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex appearance="standard">
        <mat-label>New Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="newPassword"
          required
          [type]="hideNewPassword ? 'password' : 'text'"
        />
        <button
          type="button"
          matSuffix
          mat-icon-button
          (click)="hideNewPassword = !hideNewPassword"
          [attr.aria-label]="'Hide newPassword'"
          [attr.aria-pressed]="hideNewPassword"
        >
          <mat-icon>{{
            hideNewPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            changePassForm.controls.newPassword.touched &&
            changePassForm.controls.newPassword.invalid
          "
        >
          <span *ngIf="changePassForm.controls.newPassword.errors.required"
            >This field is required!</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex appearance="standard">
        <mat-label>Confirm New Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="confirmPassword"
          required
          [type]="hideConfirmPassword ? 'password' : 'text'"
        />
        <button
          type="button"
          matSuffix
          mat-icon-button
          (click)="hideConfirmPassword = !hideConfirmPassword"
          [attr.aria-label]="'Hide confirmPassword'"
          [attr.aria-pressed]="hideConfirmPassword"
        >
          <mat-icon>{{
            hideConfirmPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            changePassForm.controls.confirmPassword.touched &&
            changePassForm.controls.confirmPassword.invalid
          "
        >
          <span *ngIf="changePassForm.controls.confirmPassword.errors.required"
            >This field is required!</span
          >
          <mat-hint
            *ngIf="
              validatePassword() &&
              !changePassForm.controls.confirmPassword.invalid
            "
          >
            New Password and Confirm Password field does't match!
          </mat-hint>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button
    mat-raised-button
    type="submit"
    color="primary"
    (click)="handleChangePassword()"
  >
    Submit
  </button>
</mat-dialog-actions>
